<!DOCTYPE html>
<html>
<head>
  <title>Biografija - Konstantin Ilić</title>
  <link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>
  <div class="container">
    <h1>Biografija</h1>
    <ul>
      <li>Zovem se Konstantin Ilić, rođen sam u 18.01.2001. u Novom Sadu. Student sam Fakulteta tehničkih nauka u Novom Sadu, smer Industrijsko inženjerstvo.
         U 4. godini sam se odlučio za usmerenje informaciono-upravljački i komunikacioni sistemi.
      </li>
    </ul>
  </div>
</body>
</html>

